@import "setup/typography.css";
@import "setup/vars.css";

@import "basic/base.css";
@import "basic/helpers.css";
@import "basic/layout.css";

@import "components/header.css";
@import "components/filter.css";
@import "components/mainGallery.css";
@import "components/savedImgGallery.css";
@import "components/editor.css";
@import "components/editorButtons.css";
@import "mq/mq.css";
@import "components/footer.css";

/* typography  */

@font-face {
    font-family: montserrat-extra-bold;
    src: url(../fonts/montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: montserrat-regular;
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: RubikDirt-regular;
    src: url(../fonts/rubikDirt/RubikDirt-Regular.ttf);
}