.logo {
    color: var(--clr2);
    font-size: 2rem;
    font-family: RubikDirt-regular;
}

.disable-select {
    user-select: none;
}

.debug * {
    outline: 1px solid orange;
}

/* flex helpers */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.justfiy-center {
    justify-content: center;
}

.flex.justfiy-start {
    justify-content: flex-start;
}

.flex.align-items-center {
    align-items: center;
}

.flex.align-items-start {
    align-items: flex-start;
}

/* grid helpers */

.grid {
    display: grid;
}

.gap {
    gap: 20px;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.vertical-line {
    border-left: var(--clr4) 1px solid;
    max-height: 65px;
}

/* buttons helpers */

.btn {
    border-radius: 1.333rem;
    background-color: var(--clr1);
    color: var(--clr2);
    height: 2.75em;
    width: 150px;
    border: none;
    font-size: 1em;
}

.btn:hover {
    background-color: var(--clr2);
    color: var(--clr1);
    border: 1px solid var(--clr1);
    cursor: pointer;
}