.editor {
    margin: 0;
    background-color: var(--clr3);
}

.editor-container {
    padding: 1.5625rem 0;
}

.canvas-container {
    margin: 1.5625rem 0;
    padding: 0;
    flex-direction: column;
}

.editor-content {
    width: 400px;
    height: 400px;
    margin: 0 auto;
}