.gallery-saved-imgs {
    background-color: var(--clr3);
    padding: 1.5625rem;
}

.gallery-saved-imgs-content {
    grid-template-columns: repeat(auto-fit, minmax(201px, 300px));
    justify-content: center;
    text-align: center;
}